<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VidCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

	<userSettings>
		<VidCoder.Properties.Settings>
   <setting name="EncodingDialogLastTab" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastOutputFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="LastInputFileFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="LastVideoTSFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="LastSrtFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="LastPresetIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutoNameOutputFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoNameCustomFormat" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoNameCustomFormatString" serializeAs="String">
    <value>{source}-{title}</value>
   </setting>
   <setting name="NativeLanguageCode" serializeAs="String">
    <value>und</value>
   </setting>
   <setting name="DubAudio" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OptionsDialogLastTab" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastCsvFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="MainWindowPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="SubtitlesDialogPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="EncodingDialogPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="ChapterMarkersDialogPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="PreviewWindowPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="PreviewSeconds" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="EncodingWindowOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PreviewWindowOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdatesEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplicationVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="LogWindowPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="LogWindowOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QueueColumns" serializeAs="String">
    <value>Source:200|Title:35|Chapters:60|Destination:200</value>
   </setting>
   <setting name="QueueLastColumnWidth" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="QueueTitlesStartTime" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="QueueTitlesEndTime" serializeAs="String">
    <value>45</value>
   </setting>
   <setting name="QueueTitlesUseRange" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QueueTitlesDialogPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="CompletedColumnWidths" serializeAs="String">
    <value />
   </setting>
   <setting name="LogVerbosity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AddAutoPauseProcessDialogPlacement" serializeAs="String">
    <value />
   </setting>
   <setting name="PreviewCount" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="QueueTitlesUseTitleOverride" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QueueTitlesTitleOverride" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ShowAudioTrackNameField" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastPresetExportFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="SourceHistory" serializeAs="String">
    <value />
   </setting>
   <setting name="MinimizeToTray" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OutputToSourceDirectory" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WhenFileExists" serializeAs="String">
    <value>Prompt</value>
   </setting>
   <setting name="WhenFileExistsBatch" serializeAs="String">
    <value>AutoRename</value>
   </setting>
   <setting name="KeepScansAfterCompletion" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PlaySoundOnCompletion" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastPlayer" serializeAs="String">
    <value>vlc</value>
   </setting>
   <setting name="QueueTitlesUseNameOverride" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QueueTitlesNameOverride" serializeAs="String">
    <value />
   </setting>
   <setting name="QueueTitlesDialogPlacement2" serializeAs="String">
    <value />
   </setting>
   <setting name="EnableLibDvdNav" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MinimumTitleLengthSeconds" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="DeleteSourceFilesOnClearingCompleted" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberPreviousFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VideoFileExtensions" serializeAs="String">
    <value>avi, mkv, mp4, m4v, mpg, mpeg, mov, wmv</value>
   </setting>
  </VidCoder.Properties.Settings>
	</userSettings>
</configuration>
