Installer/BuiltInstallers/*
Flags/*
packages/*
*/AppPackages/*
*/BundleArtifacts/*
VidCoderPackage_StoreKey.pfx
_pkginfo.txt
Import/*
HandBrakeInterop.XmlSerializers.dll
.vs
*.pdn
*/bin/*
*/obj/*
*gen.iss
*.suo
*.csproj.user
*.user
Installer/Files/*