Installer/BuiltInstallers/*
Installer/Releases-Beta/*
Installer/Releases-Stable/*
Installer/Files/*
Installer/Test/*
Installer/latest.json
Installer/latest-beta.json
Import/*
.vs
*/bin/*
*/obj/*
*gen.iss
*.suo
*.csproj.user
*.user
/crowdin.yml
